apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
        - name: ping-pong
          image: cupaxxhd/ping-pong
          imagePullPolicy: Always
          ports:
            - containerPort: 3002
          envFrom:
            - configMapRef:
                name: postgres-config
            - secretRef:
                name: postgres-secret
          # readinessProbe:
          #   initialDelaySeconds: 10 # Initial delay until the readiness is tested
          #   periodSeconds: 5 # How often to test
          #   httpGet:
          #     path: /ready
          #     port: 3002
