name: Build and publish application

on:
  push:

jobs:
  build-publish:
    name: Build, Push, Release
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # tag image with the GitHub SHA to get a unique tag
      - name: Build and publish backend
        run: |-
          docker build --tag "cupaxxhd/log-output-reader:$GITHUB_SHA" .
          docker push "cupaxxhd/log-output-reader:$GITHUB_SHA"
        working-directory: log_output/reader

      - name: Set up Kustomize
        uses: imranismail/setup-kustomize@v2

      - name: Use right image
        run: kustomize edit set image PROJECT/IMAGE=cupaxxhd/log-output-reader:$GITHUB_SHA
        working-directory: log_output

      - name: commit kustomization.yaml to GitHub
        working-directory: log_output
        uses: EndBug/add-and-commit@v9
        with:
          add: "kustomization.yaml"
          message: New version released ${{ github.sha }}
