name: Delete branch environment

on:
  delete:

jobs:
  delete-namespace:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate with GCP
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GKE_SA_KEY }}"
          export_default_credentials: true

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2
        with:
          project_id: ${{ secrets.GKE_PROJECT }}
          service_account_key: "${{ secrets.GKE_SA_KEY }}"
          export_default_credentials: true

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: kube-mooc
          project_id: ${{ secrets.GKE_PROJECT }}
          location: asia-southeast2

      - name: Delete branch namespace
        run: |
          # Determine the namespace
          BRANCH_NAME="${{ github.ref_name }}"

          # Do not delete default branch namespace
          if [ "$BRANCH_NAME" != "master" ]; then
            echo "Deleting namespace: $BRANCH_NAME"
            kubectl delete namespace "$BRANCH_NAME" || echo "Namespace $BRANCH_NAME not found"
          else
            echo "Default branch namespace 'project' will not be deleted"
          fi
